{% extends "base.html" %}

{% block content %}

<div class="header">
	<div class="emblem">
		<img src="{{ SITEURL }}/theme/images/emblemob.png">
	</div>
	<div class="title">
		<p>Московская область, Россия</p>
	</div>
	<div class="description">
		<p>Приглашаем юных и взрослых любителей верховой езды в наш дружный коллектив!</p>

<p>В клубе есть все условия для тренировок в любую погоду, прогулок и отдыха: большие открытые площадки, живописная природа вокруг, крытый манеж.</p>

<p>У нас по-домашнему уютно и комфортно. Вас ждут квалифицированные, доброжелательные тренеры, а очаровательные четвероногие партнеры рады поделиться своими умениями, помочь достичь спортивных успехов, подарить счастье общения и хорошее настроение! Наши ученики регулярно выступают на соревнованиях различного уровня, завоёвывая призовые места.</p>

<p>Мы находимся на территории КСК "Созвездие", г. о. Раменское. Всегда рады новым друзьям! Присоединяйтесь!</p>
<br>
<a href="https://vk.com/ksknikolskoe"><i class="demo-icon icon-link-ext">&#xf08e;</i>Сообщество ВК</a>
<br>
<a href="https://vk.com/topic-62120883_49131675"><i class="demo-icon icon-link-ext">&#xf08e;</i>Актуальные цены</a>
	</div>
<div class="title">
		<p>Наши услуги</p>
	</div>
</div>
<div class="content">
	<a class="usl" href="/Vo" style='background-image: url("{{ SITEURL }}/theme/images/Vol.jpg")'><p>Вольтижировка</p></a>
	<a class="usl" href="/D" style='background-image: url("{{ SITEURL }}/theme/images/Dg.jpg")'><p>Джигитовка</p></a>
	<a class="usl" href="/Str" style='background-image: url("{{ SITEURL }}/theme/images/STRLjpg.jpg")'><p>Конная стрельба из лука</p></a>
	<a class='usl' href="/training" style='background-image: url("{{ SITEURL }}/theme/images/VV2.jpg")'><p>Выездка</p></a>
	<a class="usl" href="/training" style='background-image: url("{{ SITEURL }}/theme/images/KK2.jpg")'><p>Конкур</p></a>
	<a class="usl" href="/training" style='background-image: url("{{ SITEURL }}/theme/images/Ccross2.jpg")'><p>Кросс</p></a>
</div>
<div class="title1">
		<b>Видео</b>
</div>
<!-- <div class="videos">
	<video src='/theme/images/Cross.mp4' controls width="640" height="380"></video>
	<video src='/theme/images/1.mp4' controls width="640" height="380"></video>	
</div> -->
<div class='video'>
	<iframe src="https://vk.com/video_ext.php?oid=-62120883&id=456239494&hash=f3990e56f824f6db&hd=1" width="640" height="360" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen></iframe>
</div>
<a class="button_glbol" href="https://vk.com/video/@ksknikolskoe"><b>Ещё видео</b></a>
<div class="title1">
		<b>Галерея</b>
		<div class="buttons_gl">
		<a class="button_gl" href="/alboms"><b>Все альбомы</b></a>
		</div>
</div>
<div class="content">
	<a class='gl' href="/theme/images/Z2mf_SaZNvw.jpg" style='background-image: url("/theme/images/Z2mf_SaZNvw.jpg")'><p></p></a>
	<a class='gl' href="/theme/images/RpmQ5hKcQYs.jpg" style='background-image: url("/theme/images/RpmQ5hKcQYs.jpg")'><p></p></a>
	<a class='gl' href="/theme/images/18.jpg" style='background-image: url("/theme/images/18.jpg")'><p></p></a>
	<a class='gl' href="/theme/images/17.jpg" style='background-image: url("/theme/images/17.jpg")'><p></p></a>
	<a class='gl' href="/theme/images/14.jpg" style='background-image: url("/theme/images/14.jpg")'><p></p></a>
	<a class='gl' href="/theme/images/16.jpg" style='background-image: url("/theme/images/16.jpg")'><p></p></a>
</div>
<a class="button_glbol" href="/allphoto"><b>Ещё фотографии</b></a>

<div class="footer">
	<div class="yandex"><a href="https://webmaster.yandex.ru/siteinfo/?site=https://kskkaskad.github.io"><img width="88" height="31" alt="" border="0" src="https://yandex.ru/cycounter?https://kskkaskad.github.io&theme=light&lang=ru"/></a>
	</div>
	<div class='titlef' style='text-align: right;'>Номер телефона администратора: <br><a href="tel:+79299274497" style='color: #FFBC39;'><b>+7 929 927-44-97</b></a></div>
	<div class='titlef' style='text-align: right;'>Номер телефона отвечающего за сайт: <br><a href="tel:+79854751961" style='color: #FFBC39;'><b>+7 985 475-19-61</b></a> и <a href="https://vk.com/maxim_lyubertsy" style='color: #FFBC39;'>ВКонтакте</a></div>
	<div class="contein"><b>© КСК Каскад | от <a href='https://vk.com/maxim_lyubertsy'>Максима Соколова</a></b></div>
</div>
<iframe src="https://yandex.ru/sprav/widget/rating-badge/68418847346?type=rating" width="150" height="50" frameborder="0"></iframe>
{% endblock %}